<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>ApiCloud云端后台 - AcAdmin </title>
		<meta name="description" content="ApiCloud云端后台,AcAdmin">
		<meta name="author" content="ayhome@foxmail.com">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<load href="assets/css/bootstrap.min.css" />
		<load href="assets/css/font-awesome.min.css" />

		<load href="assets/css/smartadmin-production-plugins.min.css" />
		<load href="assets/css/smartadmin-production.min.css" />
		<load href="assets/css/smartadmin-skins.min.css" />

		<load href="assets/css/smartadmin-rtl.min.css" />

		<load href="assets/css/demo.min.css" />
		<load href="assets/js/nprogress/nprogress.css"/>

		<load href="assets/js/libs/jquery-2.1.1.min.js"/>
		<script>
			if (!window.jQuery) {
				document.write('<load href="assets/js/libs/jquery-2.1.1.min.js"><\/script>');
			}
		</script>

		<load href="assets/js/libs/jquery-ui-1.10.3.min.js"/>
		<script>
			if (!window.jQuery.ui) {
				document.write('<load href="assets/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
		</script>

	</head>

	<body class="smart-style-4 fixed-header ">
		<header id="header">
			<div id="logo-group">
				<span id="logo">ApiCloud云端后台</span>

			    <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> </span>
					
					
			</div>


			<div class="pull-right">

				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>

				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="{:U('Public/logout')}" title="退出" data-action="userLogout" data-logout-msg="退出系统后将跳转到登陆页面"><i class="fa fa-sign-out"></i></a> </span>
				</div>

				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
			</div>
		</header>
		
		<aside id="left-panel">

			<div class="login-info">
				<span> 
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="assets/img/avatars/sunny.png" class="online" />
						<span>管理员</span>
						<i class="fa fa-angle-down"></i>
					</a>
				</span>
			</div>
			
			<nav>
				

				<ul>
                    <eq name="uid" value="1">
                    <li>
						<a href="{:U("Admin/readme")}"><i class="fa fa-lg fa-fw fa-reorder"></i><span class="menu-item-parent">使用说明</span></a>
					</li>
                    <li>
						<a href="#"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent">项目初始化</span></a>
						<ul>
							<li>
								<a href="{:U('Admin/index')}">项目管理</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent">模型设计</span></a>
								<ul>
									<volist name="models" id="m">
									<li>
										<a href="{:U("Admin/design?name=$m[name]")}">{$m.title}</a>
									</li>
									</volist>
								</ul>			
							</li>
						</ul>
					</li>
                    </eq>
                    <volist name="models" id="m">
                    	<li>
							<a href="{:U(ucfirst($m[name])."/index")}"><i class="fa fa-lg fa-fw fa-reorder"></i><span class="menu-item-parent">{$m.title}</span></a>
						</li>
                    </volist>
				</ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span>
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<!-- This is auto generated -->
				</ol>
				<!-- end breadcrumb -->

				<!-- You can also add more buttons to the
				ribbon for further usability

				Example below:

				<span class="ribbon-button-alignment pull-right" style="margin-right:25px">
					<a href="#" id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</a>
					<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
					<button id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></button>
				</span> -->

			</div>
			<div id="content">
                <block name="content"></block>
			</div>
		</div>
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">AcAdmin 0.1 <span class="hidden-xs"> - ayhome 强力支持</span> © 2015 -</span>
					<a href="https://git.oschina.net/anyhome/AcAdmin">项目地址</a>
				</div>
			</div>
		</div>

		<load href="assets/js/app.config.js"/>
		<load href="assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"/>
		<load href="assets/js/bootstrap/bootstrap.min.js"/>
		<load href="assets/js/notification/SmartNotification.min.js"/>
		<load href="assets/js/smartwidgets/jarvis.widget.min.js"/>
		<load href="assets/js/plugin/jquery-validate/jquery.validate.min.js"/>
		<load href="assets/js/plugin/masked-input/jquery.maskedinput.min.js"/>
		<load href="assets/js/plugin/select2/select2.min.js"/>
		<load href="assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"/>
		<load href="assets/js/plugin/msie-fix/jquery.mb.browser.min.js"/>
		<load href="assets/js/plugin/fastclick/fastclick.min.js"/>

		<load href="assets/js/nprogress/nprogress.js"/>
		<load href="assets/js/jquery.bootstrap-growl.js"/>

		<load href="assets/js/bootstrap-confirmation.js"/>
		<load href="assets/js/bootstrap-dialog.js"/>
		
		<load href="assets/js/app.min.js"/>
		<load href="assets/js/tp.js"/>

	</body>

</html>
