<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>ApiCloud云端管理平台</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<load href="assets/font-awesome/css/font-awesome.min.css" />
<load href="assets/simple-line-icons/simple-line-icons.min.css" />
<load href="assets/bootstrap/css/bootstrap.min.css" />
<load href="assets/css/login.css" />
<load href="assets/css/components-md.css" />
<load href="assets/uniform/css/uniform.default.css" />
<load href="assets/css/plugins-md.css" />
<load href="assets/css/layout.css" />
<load href="assets/css/custom.css" />

<load href="assets/js/jquery.min.js" />
<load href="assets/bootstrap/js/bootstrap.min.js" />
</head>

<body class="page-md page-header-fixed ">
<div class="wrapper">
    <header class="page-header">
        <nav class="navbar mega-menu" role="navigation">
            <div class="container-fluid">
                <div class="clearfix navbar-fixed-top">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	                    <span class="toggle-icon">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </span>
	                </button>


	                <div class="topbar-actions">
		                <div class="btn-group-img btn-group">
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<img src="assets/avatar.png" alt="">
							</button>
							<ul class="dropdown-menu-v2" role="menu">
								<li>
									<a href="{:U("Public/logout")}">退出系统</a>
								</li>
							</ul>
						</div>
					</div>
                </div>
                <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav text-uppercase">
                        <li class="dropdown dropdown-fw open">
                            <a href="javascript:;">数据云</a>
                           	<ul class="dropdown-menu dropdown-menu-fw">
                                <volist name="models" id="m">
                                <li>
                                  <a data-pjax href="{:U("AcData/index?model=$m[name]")}">{$m.title}</a>
                                </li>
                                </volist>
                                <li>
                                	<a data-pjax data-con="AcForm" href="{:U('AcFile/index')}">文件管理</a>
                                </li>
                                <li>
                                	<a data-pjax data-con="AcForm" href="{:U('AcForm/index')}">表单设计</a>
                                </li>

                                <li>
                                	<a data-pjax data-con="AcForm" href="{:U('User/index')}">后台登陆用户</a>
                                </li>
                                <li>
                                	<a data-pjax data-con="AcForm" href="{:U('AcUser/index')}">App用户</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
    	<div class="page-content">
    		<div data-pjax-container class="row">
                {__CONTENT__}
    		</div>
    	</div>
		<p class="copyright">2015 © ayhome</p>
    </div>
</div>
<a href="#index" class="go2top"><i class="icon-arrow-up"></i></a>

<!--[if lt IE 9]>
<load href="assets/js/respond.min.js" />
<load href="assets/js/excanvas.min.js" />
<![endif]-->
<load href="assets/nprogress/nprogress.js" />
<load href="assets/nprogress/nprogress.css" />
<load href="assets/js/jquery.bootstrap-growl.js" />
<load href="assets/js/bootstrap-dialog.js" />
<load href="assets/jquery-bsgrid/js/grid.all.js" />
<load href="assets/jquery-bsgrid/js/lang/grid.zh-CN.js" />
<load href="assets/jquery-bsgrid/css/grid.css" />

<load href="assets/fileinput/css/fileinput.css" />
<load href="assets/fileinput/js/fileinput.js" />
<load href="assets/fileinput/js/fileinput_locale_chs.js" />

<load href="assets/js/arttemplate.js" />

<load href="assets/js/bootstrap-confirmation.js" />

<load href="assets/editable/js/bootstrap-editable.js" />
<load href="assets/editable/moment.min.js" />
<load href="assets/editable/css/bootstrap-editable.css" />

<load href="assets/umeditor/umeditor.config.js" />
<load href="assets/umeditor/umeditor.min.js" />
<load href="assets/umeditor/lang/zh-cn/zh-cn.js" />
<load href="assets/umeditor/themes/default/css/umeditor.css" />


<load href="assets/js/jquery.scrollTo.min" />
<load href="assets/js/jquery.slimscroll.min.js" />
<load href="assets/uniform/jquery.uniform.min.js" />
<load href="assets/js/jquery.pjax.js" />
<load href="assets/js/metronic.js" />
<load href="assets/js/layout.js" />
<script>
$(document).ready(function() {
	if ($.support.pjax) {
		$('a[data-pjax]').on('click', function(event) {
	    	var container = $('[data-pjax-container]');
	    	$.pjax.click(event, {container: container});
	  	})
	}
   	Metronic.init();
   	Layout.init();

   	var con = "{$con}";
   	var ac = $('a[data-con='+con+']');
   	if (ac.length > 0) {
   		ac.parent().addClass('active');
   		ac.parent().parent().parent().addClass('selected open');
   	};

});
</script>
</body>
</html>
