<Widget:show bdcls="no-padding" title="后台登陆用户管理" col="12">
    <Widget:action id="modelObj-action" title="">
        <a grid-btn data-add class="btn btn-primary" href="{$addUrl}" >新增</a>
        <a grid-btn data-add class="btn btn-info disabled" href="{$editUrl}" >修改</a>
        <a grid-btn data-delete class="btn btn-danger disabled" href="{$delUrl}&model={$model}" >删除</a>
    </Widget:action>
    <div class="table-responsive">
        <table id="modelObj" class="table table-bordered">
            <thead>
                <th w_index="id">id</th>
                <th w_index="account">登陆账号</th>
                <th w_index="email">用户邮箱</th>
                <th w_index="password">登陆密码(已加密)</th>
            </thead>
        </table>
    </div>
    <div id="modelObj-pager" class="widget-footer">

    </div>
</Widget:show>
<include file="tablejs" table="modelObj" rows="10" />
